.ui.borderless.topmenu.menu {
  background-color: white;
  box-shadow: none;
  border: none;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  text-size: 12px;
}

.ui.grid.bottom {
  background-color: #f2f2f2;
  color: #fff;
  border-color: #e4e4e4;
  border-top-width: 1px;
  padding-left: 1em;
}